<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Apply | Kurnikova Research Group</title>
  <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
  <header>
    <h1>Kurnikova Research Group</h1>
    <p><i>The Biomolecular Modeling Group</i></p>
    <nav>
      <a href="../index.html" class="active">Home</a>
      <a href="research.html" class="active">Research</a>
      <a href="publication.html" class="active">Publications</a>
      <a href="software.html" class="active">Software</a>
      <a href="member.html" class="active">Group</a>
      <a href="apply.html" class="active">Apply</a>
    </nav>
  </header>

  <main>
    <section class="apply-section">
      <div class="apply-container">
        <div class="apply-upload-box">
          <div class="upload-placeholder">+</div>
          <p>Link to apply:</p>
        </div>
        <div class="apply-description">
          <h2>Interested in joining?</h2>
          <p>
            Our group develops multiple scientific software protocols for computational small molecule drug discovery which we have recently used to win an international computational drug discovery competition (CACHE Challenge).
            We are looking for students to help us disseminate these protocols to the public. Interested students will be tasked with testing, troubleshooting, and documenting these protocols.
          </p>
          <p>
            As a part of this work, students will learn about biomolecular simulations with the AMBER molecular dynamics engine, as well as methods for computational small molecule drug discovery. While a working knowledge of Python and bash scripting will be helpful, these skills can be acquired on the job and will not be a barrier to entry.
          </p>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <p><strong>Contact kurnikova@andrew.cmu.edu to get more information</strong></p>
    <p>Copyright © 2018–2024 Kurnikova Group, Chemistry Department, Carnegie Mellon University</p>
  </footer>

  <script src="../static/script.js"></script>
</body>
</html>
