<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HARLEM for Windows</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <main class="margined-content">
    <h1>HARLEM for Windows</h1>
    <p><strong>version:</strong> 2023-02-20</p>
    <a href="https://github.com/MGKurnikovaGroup/Harlem/releases/tag/Harlme>Download HARLEM for Windows</a>
    <h3>To Install:</h3>
    <ol>
      <li>Unzip <code>harlem_win_2023_02_20.zip</code> → this will create <code>harlem</code> directory</li>
      <li>Install redistributable run-time libraries for Visual Studio C++ (2015–2022) x64 v.14.32.31326:<br><code>VC_redist.x64.exe</code></li>
      <li>Install redistributable run-time libraries for Intel Fortran x64 v. 2022.0.2.3790:<br><code>ww_ifort_runtime_p_2022.0.2.3790.msi</code></li>
      <li>Install Microsoft MPI:<br><code>msmpisetup.exe</code></li>
      <li>Run <code>harlem.exe</code></li>
    </ol>

    <section class="info">
      <h3>Information</h3>
      <ul>
        <li><strong>Created:</strong> 2018-04-17</li>
        <li><strong>Changed:</strong> 2023-02-20</li>
        <li><strong>Version:</strong> 2023-02-20</li>
        <li><strong>Size:</strong> 350.97 MB</li>
        <li><strong>Created by:</strong> Igor Kurnikov</li>
        <li><strong>Downloads:</strong> 2,000</li>
        <li><strong>License:</strong> <a href="#">GNU/LGPL</a></li>
      </ul>
    </section>
  </main>
  
  <footer>
    <p><strong>Contact kurnikova@andrew.cmu.edu to get more information</strong></p>
    <p>Copyright © 2018–2024 Kurnikova Group, Chemistry Department, Carnegie Mellon University</p>
  </footer>
</body>
</html>
