<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Group Members | Kurnikova Research Group</title>
  <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
  <header>
    <h1>Kurnikova Research Group</h1>
    <p><i>The Biomolecular Modeling Group</i></p>
    <nav>
      <a href="../index.html" class="active">Home</a>
      <a href="research.html" class="active">Research</a>
      <a href="publication.html" class="active">Publications</a>
      <a href="software.html" class="active">Software</a>
      <a href="member.html" class="active">Group</a>
      <a href="apply.html" class="active">Apply</a>
    </nav>
  </header>

  <main class="group-page">
    <section class="group-photo-section">
      <h2>Group Members</h2>
      <p>Group photo: Summer 2024</p>
      <img src="../static/image/group-photok.jpg" alt="Group Photo" class="group-photo"/>
    </section>

    <section class="members-grid">
      <div class="member">
        <img src="../static/image/kurnikova.jpg" alt="Dr. Maria Kurnikova" />
        <h3>Dr. Maria Kurnikova</h3>
        <p>kurnikova@cmu.edu</p>
      </div>

      <div class="member">
        <img src="../static/image/muhammed.jpg" alt="Muhammed Aktolun" />
        <h3>Muhammed Aktolun</h3>
        <p>Muhammed is a PhD student in Chemistry. He received his bachelor’s degree in Bioengineering (2015) from Marmara University (Turkey) and his MSc in Computational Biology (2017) from Kadir Has University (Turkey). His primary research focuses on the free energy calculations and conformational characterization of ion channel proteins using Molecular Dynamics simulations. In my free time, I love fishing, playing video games, and spending time outdoors with my family.</p>
      </div>

      <div class="member">
        <img src="../static/image/ben.jpg" alt="Ben Koby" />
        <h3>Ben Koby</h3>
        <p>Ben is a PhD student in Chemistry. He received his bachelor’s degree in Chemistry and Statistics in 2015 from the University of Pittsburgh, and his MPhil in Physics from Cambridge University (United Kingdom) in 2021 under Prof. Jacqueline Cole. In the Kurnikova group, he develops methods for and applies binding free energy simulations for small molecule drug discovery, and investigates the mechanisms and dynamics of metalloenzymes for biocatalysis applications. In his free time, he enjoys cycling, yoga, travelling, golf, and grilling with friends.</p>
      </div>

      <div class="member">
        <img src="../static/image/casin.jpg" alt="Casin Ayvaz" />
        <h3>Casin Ayvaz</h3>
        <p>Cansin is a PhD student in Chemistry. She received her bachelor’s degree in Chemistry from Bogazici University in 2021 and her master’s degree in Chemistry from Bilkent University in 2023. In the Kurnikova group, her research focuses on the free energy calculation of ion channel proteins using Molecular Dynamics simulations. She enjoys painting, playing the cello, and hiking in her free time.</p>
      </div>

      <!-- placeholders for future members-->
      <div class="member placeholder">
        <div class="plus">+</div>
        <h3>Click to edit text</h3>
        <p>Click to edit text</p>
      </div>
      <div class="member placeholder">
        <div class="plus">+</div>
        <h3>Click to edit text</h3>
        <p>Click to edit text</p>
      </div>
    </section>

    <h3 class="section-heading">Alumni</h3>
    <section class="members-grid">
      <div class="member placeholder">
        <div class="plus">+</div>
        <h3>Click to edit text</h3>
        <p>Click to edit text</p>
      </div>
      <div class="member placeholder">
        <div class="plus">+</div>
        <h3>Click to edit text</h3>
        <p>Click to edit text</p>
      </div>
      <div class="member placeholder">
        <div class="plus">+</div>
        <h3>Click to edit text</h3>
        <p>Click to edit text</p>
      </div>
    </section>

    <h3 class="section-heading">Undergraduate Research Assistants</h3>
  </main>

  <footer>
    <p><strong>Contact kurnikova@andrew.cmu.edu to get more information</strong></p>
    <p>Copyright © 2018–2024 Kurnikova Group, Chemistry Department, Carnegie Mellon University</p>
  </footer>

  <script src="../static/script.js"></script>
</body>
</html>
