<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Publications | Kurnikova Research Group</title>
  <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
  <header>
    <h1>Kurnikova Research Group</h1>
    <p><i>The Biomolecular Modeling Group</i></p>
    <nav>
      <a href="../index.html" class="active">Home</a>
      <a href="research.html" class="active">Research</a>
      <a href="publication.html" class="active">Publications</a>
      <a href="software.html" class="active">Software</a>
      <a href="member.html" class="active">Group</a>
      <a href="apply.html" class="active">Apply</a>
    </nav>
  </header>

  <main class="publication-page">
    <h2>Publications</h2>
    <input type="text" id="searchInput" placeholder="Search publications..." />
    <ol class="publications-list" id="publicationList">
      <li class="publication-item">
        Kainate receptor channel opening and gating mechanism. Gangwar, S.P., Yelshanskaya, M.V., Nadezhdin, K.D., Yen L.Y., Newton Th.P., Aktolun M., Kurnikova M.G., Sobolevsky A.I. <i>Nature</i>,
        <a href="https://doi.org/10.1038/s41586-024-07475-0" target="_blank">https://doi.org/10.1038/s41586-024-07475-0</a> (2024)
      </li>
      <li class="publication-item">
        Structural basis of selective TRPM7 inhibition by the anticancer agent CCT128930. Nadezhdin K.D., Correia L., Shalygin A., Aktolun, M., Neuberger A., Gudermann Th, Kurnikova M.G., Chubanov V., Sobolevsky A.I. <i>Cell Reports</i> 43(4), 114108
        <a href="https://doi.org/10.1016/j.celrep.2024.114108" target="_blank">https://doi.org/10.1016/j.celrep.2024.114108</a> (2024)
      </li>
      <li class="publication-item">
        In silico screening of LRRK2 WDR domain inhibitors using deep docking and free energy simulations. Gutkin, E; Gusev, F; Gentile, F; Ban, F; Koby, SB; Narangoda, C; Isayev, O; Cherkasov, A; Kurnikova, M.G. <i>Chem. Sci., Advance Article</i>
        <a href="https://doi.org/10.1039/D3SC06880C" target="_blank">https://doi.org/10.1039/D3SC06880C</a> (2024)
      </li>
      <li class="publication-item">
        A community effort in SARS-CoV-2 drug discovery. Schimunek J, Seidl P, Elez K, Hempel T, Le T, Noé F, Olsson S, Raich L, Winter R, Gokcan H, Gusev F, Gutkin EM, Isayev O, Kurnikova MG, Narangoda CH, Zubatyuk R, et al. <i>Mol Inform.</i> e202300262.
        <a href="https://doi.org/10.1002/minf.202300262" target="_blank">https://doi.org/10.1002/minf.202300262</a> (2023)
      </li>
      <li class="publication-item">
        Combining Force Fields and Neural Networks for an Accurate Representation of Chemically Diverse Molecular Interactions. Illarionov A, Sakipov S, Pereyaslavets L, Kurnikov IV, Kamath G, Butin O, Voronina E, Ivahnenko I, Leontyev I, Nawrocki G, Darkhovskiy M, Olevanov M, Cherniavskyi YK, Lock C, Greenslade S, Sankaranarayanan SK, Kurnikova M.G., Potoff J, Kornberg RD, Levitt M, Fain B. <i>J Am Chem Soc.</i> 145(43), pp. 23620-23629
        <a href="https://doi.org/10.1021/jacs.3c07628" target="_blank">https://doi.org/10.1021/jacs.3c07628</a> (2023)
      </li>
    </ol>
  </main>

  <footer>
    <p><strong>Contact kurnikova@andrew.cmu.edu to get more information</strong></p>
    <p>Copyright © 2018–2024 Kurnikova Group, Chemistry Department, Carnegie Mellon University</p>
  </footer>

  <script src="../static/script.js"></script>
</body>
</html>
