<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HARLEM Overview</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <main class="margined-content">
    <h1>HARLEM (HAamiltonians for Research of LargE Molecules)</h1>
    <p>HARLEM is a modular molecular modeling and analysis program with a cross-platform GUI. It is interfaced to major molecular modeling engines, such as AMBER, GROMACS and Gaussian.</p>
    <p>HARLEM recognizes a range of molecular formats: PDB, XYZ, MOL2, HIN</p>
    <p>Python is used for scripting and extensibility.</p>

    <h2>HARLEM is available for UNIX and WINDOWS operating systems.</h2>
    <p>The program is distributed under the open software license.</p>
    <p>Source code of HARLEM is hosted at GITLAB</p>
    <p><a href="harlem-download.html">Download and Install HARLEM for Windows and above</a></p>
  </main>
  
  <footer>
    <p><strong>Contact kurnikova@andrew.cmu.edu to get more information</strong></p>
    <p>Copyright © 2018–2024 Kurnikova Group, Chemistry Department, Carnegie Mellon University</p>
  </footer>
</body>
</html>
