<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Software | Kurnikova Research Group</title>
  <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
  <header>
    <h1>Kurnikova Research Group</h1>
    <p><i>The Biomolecular Modeling Group</i></p>
    <nav>
      <a href="../index.html" class="active">Home</a>
      <a href="research.html" class="active">Research</a>
      <a href="publication.html" class="active">Publications</a>
      <a href="software.html" class="active">Software</a>
      <a href="member.html" class="active">Group</a>
      <a href="apply.html" class="active">Apply</a>
    </nav>
  </header>

  <main>
    <section class="software-title">
      <h2>Software</h2>
    </section>

    <section class="software-main">
      <h3>HARLEM – HAmiltonians for Research of LargE Molecules</h3>
      <div class="software-container">
        <img src="../static/image/harlem.png" alt="HARLEM GUI" />
        <p>
          Harlem is a highly modular multy-representation molecular modeling and analysis tool with graphical interface (GUI), as well as a front and back ends for the major molecular modeling engines, such as AMBER and Gaussian. HARLEM recognizes a range of molecule formats: PDB, XYZ, MOL2, HIN. Interfaced with Python 3.9 for scripting and extensibility.
        </p>
      </div>
    </section>

    <section class="software-list">
      <h4>Other Software we use:</h4>
      <ol>
        <li><a href="https://ambermd.org/" target="_blank">AMBER</a></li>
        <li>Gromacs</li>
        <li>GAUSSIAN</li>
        <li>Autodock VINA</li>
        <li>OpenEye</li>
        <li>AMPAC GUI = Gauss View</li>
        <li>Pymol</li>
        <li>VMD</li>
        <li>TensorFlow</li>
      </ol>
    </section>
  </main>

  <footer>
    <p><strong>Contact kurnikova@andrew.cmu.edu to get more information</strong></p>
    <p>Copyright © 2018–2024 Kurnikova Group, Chemistry Department, Carnegie Mellon University</p>
  </footer>

  <script src="../static/script.js"></script>
</body>
</html>
